* {
  margin: 0;
  padding: 0;
}

#loginPage,
#joinPage,
#anottationPage {
  height: 100vh;
}

.container-fluid {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.left {
  background-image: url("../images//backgroundimage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  background-color: #f3f2ef;
}

header {
  background-image: url("../images//backgroundimage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
  background-attachment: fixed;
  height: 20vh;
  color: #f3f2ef;
}

.recados {
  padding-left: 10px;
  padding-right: 10px;
}
